<html>
 <head>
  <title>Slack bot for tipping</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
</head>
 <body style="text-align: center">
  <p>
    <h3>Slack Teams Registered</h3>
  </p>
  <table border="1">
    <thead>
      <tr>
        <% cols = Team.column_names.reject { |c| (c == "token") || (c == "domain") } %>
        <% cols.each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% Team.order(id: :asc).limit(10000).each do |team| %>
      <tr>
        <% cols.each do |col| %>
          <td><%= team.read_attribute(col) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/><br/>
 </body>
</html>